<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Sala</title>
</head>
<body>
    <h1>Adicionar Sala</h1>
    <form action="/portal_admin/adicionar_sala" method="POST">
        <label for="nome_sala">Nome da Sala:</label><br>
        <input type="text" id="nome_sala" name="nome_sala"><br><br>
        <input type="submit" value="Adicionar Sala">
    </form>
</body>
</html>
